<form [formGroup]="myForm" (submit)="onSubmit()" >
    <label>FirstName :
<input 
  class="form-control" 
  formControlName="firstName" required ></label><br><br>
<label>LastName :
<input class="form-control" formControlName="lastName" ></label>
<div>
<label>status :
    </label>
    <select  formControlName="status">
        <option value="">please select status</option>
        <option *ngFor="let status of mstatus"
        [value]="status">{{status}}
    </option>
    </select></div>
<h2>Address</h2>
<div formGroupName="address">
    <label>Street :
        <input class="form-control" formControlName="street" ></label><br><br>
        
    <label>City :
        <input class="form-control" formControlName="city" ></label><br><br>
        
    <label>State :
        <input class="form-control" formControlName="state" ></label><br><br>
        <button class="btn btn-primary">Submit</button>Form status:{{myForm.status}}
        <pre>{{myForm.value | json}}</pre>
</div>
</form>

